.project-image {
  width: 450px;
  height: 300px;
  border-radius: 10px;
}
.title-duration-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 450px;
  font-size: 20px;
  font-family: roboto;
}
.duration-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100px;
  font-size: 20px;
  font-family: roboto;
}
.description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  font-size: 18px;
  font-family: roboto;
}

